{% load static %}

<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Офлайн курси англійської мови в Харкові, підготовка дітей до школи - Курси Raccoon.</title>
  <meta content="Raccoon School пропонує офлайн курси англійської мови для дітей і дорослих у Харкові. Підготовка дітей до школи. Заняття проводяться в безпечному приміщенні в районі Нових Будинків, не онлайн. Приєднуйтесь до нас!" name="description">
  <meta content="курси англійської мови, підготовка до школи, діти, дорослі, Харків, Нові Будинки, Курси Raccoon, офлайн" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.ico' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&Krub:300,300i,400,400i,500,500i,600,600i,700,700i&Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h2 class="logo"><a href="index.html">Офлайн курси Raccoon</a></h2>
       <a href="index.html" class="logo"><img src="{% static 'assets/img/raccoon.webp' %}" alt="Курси Raccoon в Харкові. Курсы английского языка." class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Про навчання</a></li>
          <li><a class="nav-link scrollto" href="#features">Про нас</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">Фото</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Ціни</a></li>
          <li><a class="nav-link scrollto" href="#contact">Контакти</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container d-flex flex-column align-items-center justify-content-center" data-aos="fade-up">
      <h1>Курси англійської мови у Харкові. Підготовка дітей до школи.</h1>
      <h2>Невеликими кроками ми досягаємо великих результатів.</h2>
      <img src="{% static 'assets/img/hero-img.webp' %}" class="img-fluid hero-img" alt="Оффлайн курси англійської мови для дітей та дорослих в Харкові. Підготовка дітей до школи" data-aos="zoom-in" data-aos-delay="150">
    </div>

  </section><!-- End Hero -->

  <main id="main">


    <!-- ======= Features Section ======= -->
    <section id="features" class="features" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Що таке Курси Raccoon?</h2>
            <p>
                Прагнете навчитися англійської мови та досягти високого рівня володіння нею? Вам необхідно підготувати дитину до школи? Тоді наші курси Raccoon у м. Харків - це те, що вам потрібно!
            </p>
            <p>
                Наші курси призначені для людей різного віку та рівня підготовки, починаючи від початківців до просунутих студентів. Наші викладачі - це професіонали своєї справи, які допоможуть вам поліпшити свої навички в читанні, письмі, говорінні та слуханні.
            </p>
            <p>
                Ми використовуємо сучасні методики навчання, щоб максимально ефективно розвивати навички англійської мови. Наші заняття проводяться в безпечному приміщенні (НЕ ОНЛАЙН).
            </p>
            <p>
                Ми також пропонуємо індивідуальні заняття, які допоможуть вам досягти більшого прогресу в вивченні англійської мови. Курси англійської мови для дітей і дорослих у м. Харків - це найкращий спосіб почати свій шлях до володіння мовою. Наші курси надають всі необхідні інструменти для успішного вивчення англійської мови, а наша команда професіоналів допоможе вам досягти ваших цілей.
            </p>
            <p>
                Ми розуміємо, як важливо для дітей підготуватися до школи. Тому наші курси включають в себе заняття з математики та читання, які допоможуть вашій дитині успішно адаптуватися в шкільному середовищі.
            </p>
            <p>
                Наша програма адаптована для дітей різного віку та рівнів підготовки. Ми пропонуємо як групові, так і індивідуальні заняття.
            </p>
            <p>
                Приєднуйтесь до наших курсів англійської мови вже сьогодні та розпочніть свій шлях до володіння англійською мовою!
            </p>
            <p>
                Переконайтеся, що ваша дитина впевнено розпочне навчання в школі. Курси Raccoon підготують майбутнього школяра до занять.
            </p>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'assets/img/features-1.webp' %}" class="img-fluid" alt="курси для вивчення англійської мови Харків">
          </div>
          <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
            <h3>Результативний спосіб організації навчального процесу.</h3>

			<ul>
			  <li><i class="bi bi-check"></i> Групові дискусії, що підвищують здатність дитини говорити з публікою.</li>
			  <li><i class="bi bi-check"></i> Дебати. Розвивають здатність швидкого мислення та вираження думок.</li>
			  <li><i class="bi bi-check"></i> Монолог. Подолання страху перед громадськими виступами.</li>
			  <li><i class="bi bi-check"></i> Читання. Розвиток практики читання книг.</li>
			  <li><i class="bi bi-check"></i> Підкастінг. Дитина визначає оригінальний зміст на слух.</li>
			  <li><i class="bi bi-check"></i> Вчимося писати правильно. Побудова основ орфографії.</li>
			</ul>

          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-2.webp' %}" class="img-fluid" alt="Підготовка дітей до школи">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Курси в Харкові.</h3>
            <p class="fst-italic">
              Ми готуємо дітей до школи. Ми допомагаємо вчитися в школі впевнено.
            </p>
            <p>
              Шкільна програма не завжди враховує інтереси учнів, а уроків англійської недостатньо,
              щоб успішно скласти міжнародні іспити для вступу до омріяних ВНЗів.
              Ми на Курсах Raccon використовуємо комунікативну методику викладання. Якщо простіше —
              на кожному уроці дискутуємо англійською на різні теми: мистецтво, школа, майбутнє, технології,
              кіно. Підлітки вчаться вільно висловлювати свою думку, використовувати популярні розмовні фрази.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5" data-aos="fade-right">
            <img src="{% static 'assets/img/features-3.webp' %}" class="img-fluid" alt="Індивідуальна програма вивчення розмовної англійської мови">
          </div>
          <div class="col-md-7 pt-5" data-aos="fade-left">
            <h3>Наші курси вирішують проблеми.</h3>
            <p class="fst-italic">
                Якщо ви відповіли «так» на будь-яке з перелічених нижче питань, то, нарешті,
                ви потрапили у потрібне місце!
            </p>
            <ul>
              <li><i class="bi bi-check"></i> У вас немає шансу потрапити до середовища для вивчення розмовної англійської мови?</li>
              <li><i class="bi bi-check"></i> Ви шукаєте індивідуальну програму вивчення розмовної англійської?</li>
              <li><i class="bi bi-check"></i> Бажаєте отримати професійного наставника для вивчення розмовної англійської?</li>
              <li><i class="bi bi-check"></i> Вам потрібно підготувати дитину до навчаня в школі?</li>
            </ul>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/features-4.webp' %}" class="img-fluid" alt="Курси англійської мови у Харкові">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
            <h3>Курси Raccoon - Ваш друг та помічник</h3>
            <p class="fst-italic">
              Ми проводимо заняття для дітей та дорослих, ми допомагаємо учням та студентам досягти їх кінцевої мети.
            </p>
            <p>
              Якщо ви студент, який повинен підготуватися до іспиту або тільки починаєте вивчати англійську мову,
              ми тут, щоб допомогти вам. Якщо вам потрібно вивчити англійську мову для самовдосконалення або роботи,
              ми допоможемо вам. Ми тут для наших клієнтів, незважаючи ні на що. Ми обіцяємо скласти ідеальний план навчання,
              щоб ви могли досягти своєї мети у найкоротший термін.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Фото</h2>
          <p>У нашій фотогалереї ви знайдете фото, зроблені під час захоплюючих дитячих занять з англійської мови та підготовки до школи на Курсах Raccoon. Моменти радості, навчання і розвитку вашої дитини запечатлені на цих знімках. Приєднуйтесь до нашої спільноти і діліться цими незабутніми моментами разом з нами.</p>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-Заняття">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio_my/01.jpg' %}" class="img-fluid" alt="Офлайн курси англійської мови в Харкові">
              <div class="portfolio-info">
                <h4>Наш клас 1</h4>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio_my/01.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Наш клас 1"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Заняття з англійскої">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/portfolio_my/02.jpg' %}" class="img-fluid" alt="Офлайн курси англійської мови для дітей в Харкові">
              <div class="portfolio-info">
                <h4>Заняття з англійскої 3</h4>
                <div class="portfolio-links">
                  <a href="{% static 'assets/img/portfolio_my/02.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Заняття з англійскої 3"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Portfolio Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Ціни</h2>
          <p>Вартість навчання на Курсах Raccoon.</p>
        </div>

        <div class="row">

          <div class="col-lg-2 col-md-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Англійська діти</h3>
              <h4><sup>грн</sup>1200<br><span>на місяць</span></h4>
              <ul>
                <li>Тривалість заняття</li>
                <li>45 хвилин</li>
                <li>8 занять<span> / місяць</span></li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Замовити</a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="100">
            <div class="box featured">
              <h3>Англійська підлітки</h3>
              <h4><sup>грн</sup>1400<br><span>на місяць</span></h4>
              <ul>
                <li>Тривалість заняття</li>
                <li>60 хвилин</li>
                <li>8 занять<span> / місяць</span></li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Замовити</a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Англійська дорослі</h3>
              <h4><sup>грн</sup>1800<br><span>на місяць</span></h4>
              <ul>
                <li>Тривалість заняття</li>
                <li>90 хвилин</li>
                <li>8 занять<span> / місяць</span></li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Замовити</a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Англійська індивідуальні</h3>
              <h4><sup>грн</sup>350<br><span> за годину</span></h4>
              <ul>
                <li>Тривалість заняття</li>
                <li>60 хвилин</li>
                <li>За домовленістю</li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Замовити</a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Англійська мінігрупи</h3>
              <h4><sup>грн</sup>2000<br><span> на місяць</span></h4>
              <ul>
                <li>Тривалість заняття</li>
                <li>80 хвилин</li>
                <li>8 занять<span> / місяць</span></li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Замовити</a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-4 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
              <h3>Підготовка до школи</h3>
              <h4><sup>грн</sup>1400<br><span>на місяць</span></h4>
              <ul>
                <li>Тривалість заняття</li>
                <li>60 хвилин</li>
                <li>8 занять<span> / місяць</span></li>
              </ul>
              <div class="btn-wrap">
                <a href="#contact" class="btn-buy">Замовити</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Питання що часто задаються</h2>
        </div>

        <ul class="faq-list">

          <li>
            <a data-bs-toggle="collapse" class="collapsed question" href="#faq1">Моя дитина дуже сором'язлива/невпевнена в собі, як ви можете допомогти?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Багато дітей досить сором’язливі та невпевнені в собі, тому це поширене запитання! Ми хочемо допомогти дітям почувати себе впевнено, висловлюючись англійською мовою, і наші курси створені для того, щоб діти взаємодіяли та сприяли якомога більшому вкладу в уроки. Ми створюємо середовище, де діти відчувають себе спокійно та впевнено висловлюються.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" href="#faq2" class="collapsed question">У вас є дошкільні заняття?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                У нас є курси для дітей дошкільного віку. Ми професійно займаємось дошкільною підготовкою.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" href="#faq3" class="collapsed question">Чи проводите ви курс публічних виступів?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Наші студенти часто проводять презентації як справжній спосіб потренуватися та набути впевненості в новій мові та продемонструвати, що вони можуть зв’язно висловлювати свої ідеї.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" href="#faq4" class="collapsed question">Яка структура/програма вашого курсу? Що саме ви викладаєте?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Наші курси англійської мови не складаються за шкільними навчальними програмами, а уроки зосереджені на розвитку навичок читання, письма та мовлення англійською мовою. Ми використовуємо теми, які цікаві та мотивують дітей. Наші заняття розроблені таким чином, щоб гарантувати веселі, інтерактивні та ефективні уроки, які адаптовані до вашої дитини як особистості. Ваша дитина не лише вивчить англійську мову, але й розвине креативність, критичне мислення та впевненість у собі.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" href="#faq5" class="collapsed question">Як цей курс допоможе моїй дитині на іспитах?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Для дітей середнього віку ми зосереджуємося на загальних стратегіях і порадах щодо іспитів.
              </p>
            </div>
          </li>

          <li>
            <a data-bs-toggle="collapse" href="#faq6" class="collapsed question">У вас є індивідуальні заняття?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Так. Ми пропонуємо індивідуальні заняття для дітей середнього віку та дорослих.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Контакти</h2>
          <p>Якщо у вас виникли запитання, не соромтеся зв’язатися з нами.
          Ми будемо раді допомогти вам або отримати відгук. Якщо ви хочете зв'язатися з нами,
          зателефонуйте нам або напишіть нам по e-mail.</p>
        </div>

        <div class="row">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-3">
                <div class="info-box mt-3">
                  <a href="https://goo.gl/maps/fa5pwkjbCY25jZjKA"><i class="bx bx-map"></i></a>
                  <h3>Наша адреса 1</h3>
                  <p>просп. Льва Ландау, 12,<br>Навпроти Комунального ринку, біля кільця тролейбуса</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box mt-3">
                  <a href="https://goo.gl/maps/fa5pwkjbCY25jZjKA"><i class="bx bx-map"></i></a>
                  <h3>Наша адреса 2</h3>
                  <p>просп. Гагаріна, 54,<br>Дитячий клуб "Какао", 14-поверхівка</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box mt-3">
                  <i class="bx bx-envelope"></i>
                  <h3>Наш Email</h3>
                  <p>info@raccoon.com.ua<br>melamory.80@gmail.com</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box mt-3">
                  <i class="bx bx-phone-call"></i>
                  <h3>Телефон</h3>
                  <p>+38 068 547 36 84<br>+38 099 456 78 87</p>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          <strong><span>Курси Raccoon в Харкові </span></strong>.
        </div>
        <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        Сторінка Raccoon в Instagram <a href="https://www.instagram.com/raccoonschool.kh/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
<!--
  <script src="assets/vendor/php-email-form/validate.js"></script>
-->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
